    <div class="footer">
      <p>&copy; 2014- <a href="/">viewpoint</a> N.K All rights reserved</p>
    </div>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <%= javascript_include_tag  "all" %>
  </body>
</html>